/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
*{
    box-sizing: border-box;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footerFixed{
    min-height: 100vh; 
    position: relative;
    padding-bottom: 180px; 
    box-sizing: border-box;
   
}
a{
    text-decoration: none;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    margin-top: 64px;
    padding-top: 90px;
    background-color: #111;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}
.alert{
    position: relative;
    margin-bottom: 0px;
    text-align: center;
    padding: 0ch;
}
.login{
    margin-right: 20px;
    margin-left: 110px;
}
body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
ul {
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.room {
    width: 100%;
    padding: 30px 60px;
}
.room-frame-inner {
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}
.room-image-out {
    position: relative;
    width: 100%;
    background: #F6F8F9;
    height: 200px;
}
.room-image {
    width: 100%;
    height: 180px;
    position: absolute;
    top: 20px;
    object-fit: cover;
}
.room-profile {
    width: 100%;
    padding: 15px;
}
.room-profile p {
    word-break: break-all;
}
.room-profile-name {
    font-size: 18px;
    font-weight: bold;
    color: #909090;
}
.room-profile p {
    word-break: break-all;
}
.room-profile-city {
    font-size: 16px;
    font-weight: bold;
}
.room-profile-price {
    text-align: right;
    font-size: 16px;
    letter-spacing: 1px;
}
