// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.room {
    width: 100%;
    padding: 30px 60px;
}
.room-frame-inner {
    border: 1px solid #bababa;
    margin-bottom: 10px;
}
.room-image-out {
    position: relative;
    width: 100%;
    background: #F6F8F9;
    height: 180px;
}
.room-image {
    width: 100%;
    height: 180px;
    position: absolute;
    top: 0px;
    object-fit: cover;
}
.room-profile {
    width: 100%;
    padding: 15px;
}
.room-profile p {
    word-break: break-all;
}
.room-profile-name {
    font-size: 18px;
    font-weight: bold;
    color: #909090;
}
.room-profile p {
    word-break: break-all;
}
.room-profile-city {
    font-size: 16px;
    font-weight: bold;
}
.room-profile-price {
    text-align: right;
    font-size: 16px;
    letter-spacing: 1px;
}
.room-new {
    width: 100%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.room-new .room-nav-pc {
    height: 100vh;
}
.room-new .room-nav {
    width: 100%;
    box-sizing: border-box;
    padding: 100px 15px;
}
.d-none {
    display: none!important;
    padding: 100px 15px;
}
.room-new .room-view {
    background-color: #F6F8F9;
    border-left: 2px solid #000000;
}
.room-new .room-view-box {
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 50px auto;
}
.room-new .update-content {
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}
.room-new .update-content label {
    font-weight: bold;
}
.room-new .room-nav-pc .active {
    border-right: 3px solid #4a90e2;
}
.room-nav-pc ul{
    margin-top: 40px;
    font-size: 20px;
}
.active li{
    color: rgb(57, 57, 57);
    text-decoration: none;
}
.room-posts, .reservations {
    max-width: 100vw;
    padding: 30px 60px;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
    font-size: 30px;
}
.room-posts, .reservations {
    max-width: 100vw;
    padding: 30px 60px;
}
.room-posts table, .reservations table {
    min-width: 800px;
}
.room-posts table tbody td, .reservations table tbody td {
    padding: 10px;
}
.room-posts-image, .reservations-image {
    width: 240px;
    height: 140px;
    object-fit: cover;
}
.room-posts table tbody .posts-name, .reservations table tbody .posts-name {
    font-size: 18px;
    font-weight: bold;
    color: #909090;
}
.room-posts table tbody .posts-content, .reservations table tbody .posts-content {
    max-width: 400px;
}
.room-posts table tbody td, .reservations table tbody td {
    padding: 10px;
}
.room-posts table thead tr, .reservations table thead tr {
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
}
