// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.room-new {
    width: 100%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.room-new .room-nav-pc {
    height: 100vh;
}
.room-new .room-nav {
    width: 100%;
    box-sizing: border-box;
    padding: 100px 15px;
}
.d-none {
    display: none!important;
    padding: 100px 15px;
}
.room-new .room-view {
    background-color: #F6F8F9;
    border-left: 2px solid #000000;
}
.room-new .room-view-box {
    max-width: 880px;
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 50px auto;
}
.room-new .update-content {
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}
.room-new .update-content label {
    font-weight: bold;
}
.room-new .room-nav-pc .active {
    border-right: 3px solid #4a90e2;
}
.room-nav-pc ul{
    margin-top: 40px;
    font-size: 20px;
}
.active li{
    color: rgb(57, 57, 57);
    text-decoration: none;
}
